/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  --main-radius: 5px;
  --input-height: 40px;
  --content-padding: 20px;
}

* {
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  /* border: 1px solid rgba(200, 3,3,.3); */
  /* font-family: 'Rubik Moonrocks', cursive; */
}
input[type="text"],
button {
  appearance: none;
}
.pl\:10 {
  padding-left: 10px;
}
.p\:20 {
  padding: 20px;
}
.p\:10 {
  padding: 10px;
}

body {
  padding: 0;
  margin: 0;
}
.h-vh-full {
  height: 100vh !important;
}

.w-full {
  width: 100%;
}
.w-400 {
  width: 400px;
}
.v\:center {
  /* align-items: center; */
  justify-content: center;
}
.h\:right {
  align-items: flex-end;
}

.w-30\% {
  width: 30%;
}
.w-25\% {
  width: 25%;
}
.bg-auth {
  background-image: url("../assets/bg-auth.svg");
  background-size: contain;
}

.bg-white {
  background-color: var(--white);
}

.auth {
  padding: var(--content-padding);
}

.input {
  margin-bottom: 10px;
}
.auth.view-port {
  width: 400px;
  border-radius: var(--main-radius);
  box-shadow: var(--shadow);
}

.auth .submit,
.auth input[type="text"],
.auth input[type="password"] {
  width: 100%;
  height: var(--input-height);
}

.auth .submit {
  background-color: #1e90ff;
  color: #ffffff;
  font-weight: 500;
}

.abs-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.img-container {
  width: 50px;
  height: 50px;
}

.img-container .content {
  width: inherit;
  height: inherit;
  overflow: hidden;
  border: 2px solid white;
}

.content.rounded {
  border-radius: 50%;
}

.user-name {
  width: 100%;
}

.h4\.bold {
  font-size: medium;
  font-weight: 500;
}

.time-msg-stamp .timestamp {
  font-size: 12px;
}

.time-msg-stamp .msg-count {
  font-size: 12px;
  background-color: blue;
  width: 15px;
  font-weight: 500;
  height: 15px;
  border-radius: 50%;
}

.border\:line-ash {
  border: 1px solid grey;
}
.user-list:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* */
.msg-box\:container {
  width: 100%;
  height: calc(100vh - 200px);
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  overflow: hidden;
}

.msg-box\:scroll-container {
  width: inherit;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 10px;
}
.msg-box\:container .msg {
  width: 60%;
  padding: 10px;
  margin: 10px 0px;
}
.msg\:me {
  justify-content: flex-start;
}

.msg\:me .msg {
  background-color: rgb(185, 199, 185);
}

.msg\:other {
  justify-content: flex-end;
}
.msg\:other .msg {
  background-color: rgb(204, 192, 194);
}
.logout {
  padding: 10px;
}

.msg-sender input {
  width: 100%;
  height: 50px;
  appearance: none;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.204);
}
.msg-sender input[type="button"] {
  width: 60px;
  background-color: green;
  color: white;
  font-weight: 700;
}

.msg-sender input[type="button"]:hover {
  background-color: rgb(96, 155, 8);
}
.msg-sender input[type="text"] {
  padding-left: 20px;
  padding-right: 20px;
}

.msg-sender\:container {
  padding: 20px;
}
